# Variables and Types

### Be Pythonic - Dynamic Typing

In [1]:
# implicit integer data type assignment
x = 10
print(type(x))

<class 'int'>

In [2]:
# implicit string data type assignment
x = "hello world"
print(type(x))

<class 'str'>

In [3]:
# implicit float data type assignment
x = 10.0
print(type(x))

<class 'float'>

## Casting

Casting is used to change data type of value stored in a variable.
For e.g., `str(10)` will cast the integer 10 to string `"10"`

In [4]:
x = str(10)
print(type(x))
print(x)

<class 'str'>
10

In [5]:
x = int("10")
print(type(x))
print(x)

<class 'int'>
10

### Type Hints

In strictly typed languages like C the below assignment would not be allowed if x is declared as an integer
However, Type Hints in Python are only for documentation, the variable can still be dynamically typed
If static typing is a requirement, libraries like [pyright](https://microsoft.github.io/pyright/#/) can be used to check instances of initializations that violate the Type Hint

In [ ]:
x: int = 10

# Use Libraries

List all contents of current directory using the `os` library module's 
`listdir` function.

In [6]:
import os
# Note: in Jupter Notebooks, the last line of code can be displayed directly without using print
os.listdir()

['hcl_env',
 'requirements.txt',
 'README.md',
 '.gitignore',
 'Introduction to Python.ipynb',
 '.ipynb_checkpoints',
 '.git',
 'sample_files']

In [7]:
import os as my_os
my_os.listdir()

['hcl_env',
 'requirements.txt',
 'README.md',
 '.gitignore',
 'Introduction to Python.ipynb',
 '.ipynb_checkpoints',
 '.git',
 'sample_files']

In [8]:
from os import listdir
listdir()

['hcl_env',
 'requirements.txt',
 'README.md',
 '.gitignore',
 'Introduction to Python.ipynb',
 '.ipynb_checkpoints',
 '.git',
 'sample_files']

In [9]:
from os import listdir as ls
ls()

['hcl_env',
 'requirements.txt',
 'README.md',
 '.gitignore',
 'Introduction to Python.ipynb',
 '.ipynb_checkpoints',
 '.git',
 'sample_files']

# Functions

In [10]:
def custom_print(str_to_print):
    print(f"Hi I think you said \"{str_to_print}\". Is that right?")

custom_print("hello world")

Hi I think you said "hello world". Is that right?

### Recursion

In [11]:
def factorial(n):
    if n == 1:
        return n
    else:
        return n * factorial(n-1)

factorial(5)

120

### Be Pythonic - Type Hints

In [ ]:
def factorial(n: int) -> int:
    if n == 1:
        return n
    else:
        return n * factorial(n-1)

factorial(5)

### Default values

In [12]:
def greeting(name, shout=False, context=False):
    if context:
        print("This is a greeting message")
    if shout:
        # Print in upper case
        print(f"Hello {name}".upper())
    else:
        print(f"Hello {name}")

greeting("Jill")
print("#######")
greeting("Jill", True, True)
print("#######")

# Note: function call with keyword arguments need not follow same positional order as in function definition
greeting("Jill", context=True, shout=False)

Hello Jill
#######
This is a greeting message
HELLO JILL
#######
This is a greeting message
Hello Jill

### Using args and kwargs

You can pass any number of additional arguments to a function by including `*args` at the end of known parameters. You can also include any number of keyword arguments by including `**kwargs` at the end. Note that `args` and `kwargs` can be replaced with any variable name, they are just conventional names used in Python

In [13]:
def greeting(name, shout=False, *args):
    if shout:
        # Print in upper case
        print(f"Hello {name}".upper())
    else:
        print(f"Hello {name}")

    if args:
        print(*args)

greeting("Jill", True, "I'm Jack", "and he is Ben.", "\nThe time is", 2, "p.m.")

HELLO JILL
I'm Jack and he is Ben.
The time is 2 p.m.

In [14]:
def greeting(name, shout=False, *args, **kwargs):
    if shout:
        # Print in upper case
        print(f"Hello {name}".upper())
    else:
        print(f"Hello {name}")

    if args:
        print(*args)

    if kwargs and 'weather' in kwargs:
        print(f"Today is a {kwargs['weather']} day")

greeting("Jill", True, "I'm Jack", "and he is Ben.", "\nThe time is", 2, "p.m.", weather="warm")

HELLO JILL
I'm Jack and he is Ben.
The time is 2 p.m.
Today is a warm day

# Strings

In [15]:
test_string = "hello world"

In [16]:
len(test_string)

11

In [17]:
test_string.upper()

'HELLO WORLD'

In [21]:
test_string[0]

'w'

### Be Pythonic - Slicing strings

In [23]:
# Start index is included but end index is excluded
test_string[0:3]

'hell'

In [36]:
# Negative indices will begin parsing in reverse
test_string[-2]

'l'

In [25]:
test_string[0:-1]

'hello worl'

In [26]:
test_string[0:]

'hello world'

In [28]:
test_string[:-1]

'hello world'

In [35]:
# You can also change the step size while slicing the string. In below example the step size is set to 2
test_string[0::2]

'hlowrd'

In [37]:
# a negative step size will parse in reverse
test_string[-1::-1]

'dlrow olleh'

# Control Flow with Conditionals

Conditional statements evaluate to either `True` or `False` (boolean values)

In [38]:
1 < 2

True

In [39]:
1 == 0

False

In [40]:
1 == 1

True

In [41]:
if True:
    print("True")

True

In [42]:
x = 5

if x < 5:
    print("x is less than 5")
elif x == 5:
    print("x is equal to 5")
else:
    print("x is greater than 5")

x is equal to 5

### Be Pythonic - proxies for False

Values like `0`, `""` and [] are considered as `False`

In [43]:
x = 0
if not x: # used instead of `if x != 0`
    print("x is 0")

x is 0

In [44]:
x = ""
if not x:
    print("x is an empty string")

x is an empty string

In [45]:
x = []
if not x:
    print("x is an empty list")

x is an empty list

In [46]:
x = None
if not x:
    print("x is None")

x is None

### Be Pythonic - Walrus operator

In the below example,

- The walrus operator `:=` is used within the if condition.
- `len(name)` calculates the length of the name string.
- The result is assigned to the variable `length`.
- The if condition then checks if length is greater than 5.

In [47]:
def name_length(name):
    if (length := len(name)) > 5:
        print(f"Your name, {name}, is longer than 5 characters. It is {length} characters long")
    else:
        print(f"Your name, {name}, is 5 characters or shorter. It is {length} characters long")

name_length("Zuckerberg")
name_length("Musk")

Your name, Zuckerberg, is longer than 5 characters. It is 10 characters long
Your name, Musk, is 5 characters or shorter. It is 4 characters long

# Lists

In [48]:
x = [1, 2, 3]

In [49]:
x[1]

2

In [51]:
x = [1] * 20
x

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [53]:
x = [1, 2, 3] * 3
x

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [54]:
# lists can conist of multiple data type elements
x = [1, "1", 1.0, True]
x

[1, '1', 1.0, True]

### Be Pythonic - Slicing lists

In [55]:
x = [1, 2, 3, 4, 5]

In [56]:
x[0:3]

[1, 2, 3]

In [57]:
x[-1::-1]

[5, 4, 3, 2, 1]

### Be Pythonic - List Comprehensions

In [58]:
# old style of populating lists
x = []
for i in range(10): # short form of range(0, 10)
    x.append(i)

x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [59]:
# new style - use list comprehension
x = [i for i in range(10)]
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [60]:
# list comprehension with condition
odd_list = [i for i in range(10) if i % 2]
odd_list

[1, 3, 5, 7, 9]

# Dictionaries

In [61]:
# Python Dictionary

# A dictionary is a collection of key-value pairs.
# Keys must be unique and immutable (e.g., strings, numbers).
# Values can be any data type.

# Creating a dictionary
my_dict = {"name": "John", "age": 30, "city": "New York"}

In [62]:
# Accessing values by key
print(my_dict["name"])  # Output: John

John

In [63]:
# Adding new key-value pairs
my_dict["occupation"] = "Software Engineer"

In [64]:
# Modifying existing values
my_dict["age"] = 31

In [65]:
# Removing key-value pairs
del my_dict["city"]

In [66]:
# Iterating through a dictionary
for key, value in my_dict.items():
    print(key, ":", value)

name : John
age : 31
occupation : Software Engineer

In [67]:
# Checking if a key exists
if "name" in my_dict:
    print("Key 'name' exists")
else:
    print("Key 'name' does not exist")

Key 'name' exists

In [68]:
# Getting the length of a dictionary
print(len(my_dict))

# Clearing a dictionary
my_dict.clear()
print(my_dict)  # Output: {} (empty dictionary)

3
{}

### Dictionary Comprehensions

In [69]:
# Dictionary Comprehension
squares = {x: x**2 for x in range(10)}
print(squares) # Output: {0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

# Using conditional statement
even_squares = {x: x**2 for x in range(10) if x % 2 == 0}
print(even_squares) # Output: {0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

# Using nested loop
nested_dict = {x: {y: x*y for y in range(3)} for x in range(3)}
print(nested_dict) # Output: {0: {0: 0, 1: 0, 2: 0}, 1: {0: 0, 1: 1, 2: 2}, 2: {0: 0, 1: 2, 2: 4}}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}
{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}
{0: {0: 0, 1: 0, 2: 0}, 1: {0: 0, 1: 1, 2: 2}, 2: {0: 0, 1: 2, 2: 4}}

# Loops

In [70]:
# Loops in Python

# Loops are used to execute a block of code repeatedly.

# There are two main types of loops in Python:

# 1. For loop:
#    - Used to iterate over a sequence (e.g., list, tuple, string)
#    - Executes the code block for each item in the sequence

# Example:
for i in range(5):
    print(i)

0
1
2
3
4

In [71]:
# 2. While loop:
#    - Used to execute a block of code as long as a condition is True
#    - The condition is checked before each iteration

# Example:
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

In [72]:
# Best Practices for Loops:

# 1. For production use-cases, use meaningful variable names:
#    - Make your code easier to understand
#    - Example: instead of "i", use "index" or "item"

# 2. Use the correct loop type:
#    - Use a for loop when you know the number of iterations
#    - Use a while loop when you don't know the number of iterations

# 3. Avoid infinite loops:
#    - Make sure your loop condition eventually becomes False
#    - Example:
#       while True:
#           print("This loop will run forever!")

# 4. Use break and continue statements:
#    - break: exits the loop immediately
#    - continue: skips the current iteration and continues to the next

# Example:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [73]:
# 5. Use list comprehensions for concise code:
#    - A compact way to create lists based on existing lists
#    - Example:
squares = [x**2 for x in range(10)]

# 6. Use enumerate() to get both the index and value:
#    - Example:
for index, item in enumerate(["apple", "banana", "cherry"]):
    print(f"Index: {index}, Item: {item}")

Index: 0, Item: apple
Index: 1, Item: banana
Index: 2, Item: cherry

# Read and Write Files

In [74]:
# Open a file for writing
f = open("sample_files/my_file.txt", "w")

# Write some text to the file
f.write("This is some text to write to the file.\n")

# Close the file
f.close()
print("File written successfully!")

File written successfully!

In [75]:
# Read a file. Note the "r" option is the default setting in open function
# so it can be skipped for reading.
with open("sample_files/my_file.txt", "r") as file:
    contents = file.read()
    print(contents)

This is some text to write to the file.

# Exception Handling

In [76]:
'''
This code demonstrates the basic structure of exception handling in Python:

1. **`try` block:** This block contains the code that might raise an exception.
2. **`except` block:** This block is executed if an exception occurs within the `try` block. The `Exception` class is a general exception class, and you can specify more specific exception types to catch.
3. **`else` block:** This block is executed if no exception occurs within the `try` block.
4. **`finally` block:** This block is executed regardless of whether an exception occurred or not. It's often used to clean up resources, such as closing files or releasing connections.
'''

# This is a simple example, and you can customize the exception handling to suit your specific needs. 
# For example, you can catch different types of exceptions separately, log exceptions, or perform other actions based on the exception type.

try:
    # Toggle commenting in the below 2 lines to get ZeroDivisionError, TypeError and other Exceptions
    # a = 1 / 0
    b = round("Hello World")
    # c = [1, 2, 3][3]
except ZeroDivisionError:
    # Handle ZeroDivisionError specifically
    print("Cannot divide by zero!")
except TypeError:
    # Handle TypeError specifically
    print("Invalid data type!")
except Exception as e:
    # Handle other exceptions
    print(f"An exception occurred: {e}")

Invalid data type!

In [77]:


"""
This code demonstrates how to log exceptions and re-raise them. 
This allows you to record the exception for later analysis while still allowing the program to continue executing.
"""

try:
    c = [1, 2, 3][3]
except Exception as e:
    # Log the exception
    import logging

    # this code logs the error message to file error.log in same directory
    logging.basicConfig(filename='sample_files/error.log', level=logging.ERROR)
    logging.error(f"An exception occurred: {e}")

    # Raise the exception again. 
    # If the below line is commented then the error will only be logged and not shown here
    raise

IndexError: list index out of range

# Regular Expression

Regular expressions (regex) are a type of pattern that can be used to find, replace, or match specific characters or patterns in text.

In [78]:
import re

# Finding patterns such as all lower cased words in a sentence:
text = "The quick brown fox jumps over the lazy dog."
pattern = r"\b[a-z]+\b"
matches = re.findall(pattern, text)
print(matches)  # Output: ['quick', 'brown', 'fox', 'jumps', 'over', 'lazy', 'dog']

['quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [79]:
# Find and replace example
text = "This is a sample text with some numbers 123 and some special characters !@#$%^&*()."

# Find all numbers
numbers = re.findall(r"\d+", text)
print("Numbers:", numbers)

# Replace all special characters except . with spaces
text = re.sub(r"[^A-Za-z0-9\s\.]+", "", text)
print("Text without special characters:", text)

# Find all words starting with "s"
words = re.findall(r"\bs\w+", text)
print("Words starting with 's':", words)

Numbers: ['123']
Text without special characters: This is a sample text with some numbers 123 and some special characters .
Words starting with 's': ['sample', 'some', 'some', 'special']

You can combine this with File read/write operations to replace string patterns in a file or across multiple files directly via python code. Regular Expressions is truly a superpower!!

# Classes

In [80]:

"""
This code defines a simple `Dog` class with the following attributes and methods:

* **Attributes:**
    * `name`: The dog's name.
    * `breed`: The dog's breed.
* **Methods:**
    * `__init__(self, name, breed)`: The constructor method that initializes the dog's name and breed.
    * `bark(self)`: A method that prints "Woof!" to simulate the dog barking.

The code then creates an instance of the `Dog` class named `my_dog` with the name "Buddy" and breed "Golden Retriever". It then prints the dog's name and breed and calls the `bark()` method to make the dog bark.
"""


class Dog:
    """A simple dog class."""

    def __init__(self, name, breed):
        """Initialize dog attributes."""
        self.name = name
        self.breed = breed

    def bark(self):
        """Simulate a dog barking."""
        print("Woof!")

my_dog = Dog("Buddy", "Golden Retriever")
print(f"My dog's name is {my_dog.name} and he is a {my_dog.breed}.")
my_dog.bark()

My dog's name is Buddy and he is a Golden Retriever.
Woof!

# Advanced Libraries

### Numpy

In [ ]:
"""
This is a basic introduction to NumPy, a powerful library for numerical computing in Python.
This is just a glimpse of what NumPy can do. 
Explore the documentation for more advanced features and applications.
"""

import numpy as np

# Creating arrays
arr1 = np.array([1, 2, 3, 4, 5])
arr2 = np.arange(10)  # Creates an array from 0 to 9
arr3 = np.zeros(5)  # Creates an array of zeros
arr4 = np.ones(3)  # Creates an array of ones

# Accessing elements
print(arr1)
print(arr1[0])  # Accessing the first element
print(arr2[0:5])  # Slicing the array

# Basic operations
print(arr1 + arr2[0:5])  # Element-wise addition
print(arr1 * 2)  # Multiplication by a scalar

# Mathematical functions
print(np.mean(arr1))  # Calculating the mean
print(np.std(arr1))  # Calculating the standard deviation

# Reshaping arrays
arr5 = np.arange(12).reshape(3, 4)  # Reshaping into a 3x4 matrix

# Matrix operations
print(arr5.T)  # Transposing the matrix
print(np.dot(arr5, arr5.T))  # Matrix multiplication

# Random number generation
random_arr = np.random.rand(5)  # Generating random numbers between 0 and 1

# More advanced features:
# - Broadcasting
# - Linear algebra operations
# - Fourier transforms
# - Image processing

### Pandas

In [ ]:
import pandas as pd

# Sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 22, 28],
        'City': ['New York', 'London', 'Paris', 'Tokyo'],
        'Date': ['2023-03-15', '2023-04-20', '2023-05-10', '2023-06-05']}
df = pd.DataFrame(data)

In [ ]:
# Head
df.head(2)  # Display the first 2 rows

In [ ]:
# iloc
df.iloc[1:3, 1:3]  # Select rows 1 to 2 (excluding 3) and columns 1 to 2 (excluding 3)

In [ ]:
# Summary
df.describe()  # Generate descriptive statistics for numeric and date columns

In [ ]:
# Average
df['Age'].mean()  # Calculate the average age

In [ ]:
# Date Functions
df['Date'] = pd.to_datetime(df['Date'])  # Convert 'Date' column to datetime objects
df['Date'].dt.year  # Extract the year from the 'Date' column

### Matplotlib

In [ ]:
"""
This code imports the `matplotlib.pyplot` module, creates sample data, plots a line graph, 
sets the title and labels, and then displays the plot. 
You can modify this code to create different types of plots, customize the appearance, 
and work with your own data.
Matplotlib also integrates seamlessly with numpy arrays and pandas dataframes.
"""

import matplotlib.pyplot as plt

# Sample data
x = [1, 2, 3, 4, 5]
y = [2, 4, 6, 8, 10]

# Create a line plot
plt.plot(x, y)

# Set the title and labels
plt.title("Sample Line Plot")
plt.xlabel("X-axis")
plt.ylabel("Y-axis")

# Display the plot
plt.show()

In [ ]:
# Same plot with numpy
x_np_arr = np.array(x)
y_np_arr = np.array(y)

# Create a line plot
plt.plot(x_np_arr, y_np_arr)

# Set the title and labels
plt.title("Sample Line Plot with Numpy arrays")
plt.xlabel("X-axis")
plt.ylabel("Y-axis")

# Display the plot
plt.show()

In [ ]:
# Same plot with pandas
df = pd.DataFrame({"x": x, "y": y})

# Create a line plot
plt.plot(df["x"], df["y"])

# Set the title and labels
plt.title("Sample Line Plot with Pandas Dataframe")
plt.xlabel("X-axis")
plt.ylabel("Y-axis")

# Display the plot
plt.show()